@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  border: 1px solid rgb(102, 248, 116);
  border-radius: 15px;
  height: 300px;
  width: 350px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#display {
  width: 80%;
  height: 25px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: beige;
}

.record {
  width: 80%;
  height: 25px;
  margin: 0 10px 15px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  background-color: rgb(252, 252, 128);
}

i {
  color: rgb(255, 146, 146);
  transform: scale(1.3);
  margin-left: 5px;
}

i:active {
  transform: scale(1);
  color: rgb(130, 238, 168);
}

.interactive {
  display: flex;
  justify-content: space-around;
}

.drum-pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Cherry Bomb One", cursive;
  color: rgb(48, 137, 109);
  text-shadow: 2px -2px 5px rgb(242, 255, 236);
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 96px;
  border-radius: 15px;
  margin: 3px;
  background-color: rgb(130, 238, 168);
  box-shadow: 1px 1px 12px 1px rgba(255, 238, 152, 0.75);
  cursor: pointer;
}

.drum-pad:active {
  transform: scale(0.95);
  color: rgb(185, 185, 185);
  background-color: rgb(252, 255, 175);
  box-shadow: 1px 1px 12px 1px rgba(64, 255, 198, 0.75);
}
